@charset "UTF-8";

:root {
  --cor-principal: #7f6acc;
  --font-principal: "Kanit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

body {
  background: url(imagens/pattern-bg2.svg), rgba(170, 67, 213, 1);
}

/*Cabeçalho*/
header {
  background: rgb(115, 45, 144);
  background: linear-gradient(180deg, rgba(115, 45, 144, 1) 0%, rgba(170, 67, 213, 1) 100%);
  color: white;
}

#logo {
  display: none;
  width: 3vw;
}

.menu {
  border-radius: 16px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 3vh;
  font-family: var(--font-principal);
}

.btn:link,
.btn:visited {
  border-radius: 1000px;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin: 10px;
  padding: 10px 15px;
  color: white;

}

.btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.404);
  font-size: 1.08em;

}

.btn:active {
  transform: translateY(-3px);
}

.btn::after {
  content: "";
  display: inline-block;
}

.btn:hover::after {
  background-color: var(--cor-principal);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}


/*Página principal*/

.Topicos {
  border: 2px black solid;
  width: 25vw;
  height: 32vh;
  padding: 1px;
  border-radius: 10px;
  margin: 2vw;
  transition: 0.5s ease-in-out;
  position: relative;
  background-color: white;
  overflow: hidden;
  font-family: var(--font-principal);
}

.main-topics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  padding: 1vw;
}

.img {
  width: 25vw;
  height: 32vh;
}

.p-topics {
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  font-size: 3vw;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  color: rgba(115, 45, 144, 1);
}

.Topicos:hover {
  background-color: var(--cor-principal);
  transition: 0.5s ease-in-out;
  scale: 1.1;
}

.Topicos::after {
  background-color: white;
  transition: 0.5s ease-in-out;
}

/*Paǵinas de Texto*/
main {
  background-color: white;
  text-align: center;
  margin: 2cm 6cm auto;
  padding: 10px;
  border: 1px solid black;
}

.texto {
  text-align: justify;
  padding: 6px;
  text-indent: 6%;
}

.image {
  text-align: center;
  margin: auto;
}

.referencia {
  background-color: white;
  text-indent: 0;
  font-size: 15px;
  text-align: left;
  color: black;
  margin: 0;
}

h1,
h2 {
  text-align: left;
  text-indent: 10px;
}

.referencia a {
  display: flex;
  color: black;
}

ul {
  list-style-type: none;
}

/*Rodapé*/
footer {
  bottom: 0;
  margin-top: 3.47%;
  background: linear-gradient(180deg, rgba(170, 67, 213, 1) 0%, rgba(115, 45, 144, 1) 100%);
  color: white;
  font-size: larger;
  padding-bottom: 1vh;
}


#criadores {
  padding: 10px;
  width: 5vw;
}

/*Página Átomo*/
#linha {
  width: 35vw;
  border: 2px solid black;
  margin: auto;
}

#sub-linha1 {
  text-align: left;
  text-indent: 24.9%;
  font-size: small;
}

#linha2 {
  width: 23vw;
  border: 2px solid black;
  margin: auto;
}

#sub-linha2 {
  text-align: left;
  text-indent: 37.3%;
  font-size: small;
}

/*Página Tabela*/
#linha3 {
  width: 35vw;
  border: 2px solid black;
  margin: auto;
  
}

#sub-linha3 {
  text-align: left;
  text-indent: 29.8%;
  font-size: small;
}

/*Página Ligação*/
#linha4 {
  width: 27vw;
  border: 2px solid black;
  margin: auto;
}

#sub-linha4 {
  text-align: left;
  text-indent: 29.8%;
  font-size: small;
}

/*Página Mistura*/
#linha5 {
  width: 35vw;
  border: 2px solid black;
  margin: auto;
}

#sub-linha5 {
  text-align: left;
  text-indent: 29.8%;
  font-size: small;
}

#linha6 {
  width: 25vw;
  border: 2px solid black;
  margin: auto;
}

#sub-linha6 {
  text-align: left;
  text-indent: 29.8%;
  font-size: small;
}

#linha7 {
  width: 25vw;
  border: 2px solid black;
  margin: auto;
}

#sub-linha7 {
  text-align: left;
  text-indent: 29.8%;
  font-size: small;
}

/*Página Reações*/
#linha8 {
  width: 35vw;
  border: 2px solid black;
  margin: auto;
}

#sub-linha8 {
  text-align: left;
  text-indent: 29.8%;
  font-size: small;
}

/*Página Radioatividade*/
#linha9 {
  width: 35vw;
  border: 2px solid black;
  margin: auto;
}

#sub-linha9 {
  text-align: left;
  text-indent: 29.8%;
  font-size: small;
}

/*Media: Tablet*/
@media (max-width: 850px) {

  /*Menu*/
  .btn:link,
  .btn:visited {
    padding: 10px;
    font-size: 2vh;
  }

  /*Página Principal*/
  .main-topics {
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

  .Topicos {
    width: 45vw;
    height: 40vh;
  }

  .img {
    width: 45vw;
    height: 40vh;
  }

  .p-topics {
    font-size: 4vw;
  }

  /*Páginas de Texto*/
  main {
    margin: 3vw 4vh auto;
    font-size: 18px;
  }
}


/*Media: Celular*/
@media (max-width: 550px) {

  /*Menu*/
  .btn:link,
  .btn:visited {
    display: none;
  }

  #botao-principal {
    display: block;
    font-size: larger;
  }
  /*Página Pricipal*/
  .main-topics {
    grid-template-columns: 1fr;
    margin: auto;
  }

  .Topicos {
    width: 93vw;
    height: 50vw;
    text-align: center;
    overflow: hidden;
  }

  .img {
    width: 93vw;
    height: 50vw;
  }

  .p-topics {
    font-size: 10vw;
    align-self: auto;
    
  }

  /*Páginas de Texto*/
  main {
    margin: 2vw 2vw;
    font-size: medium;   
  }

  .figura {
    display: none;
  }
}